body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

pre {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    overflow-x: auto;
}

.hidden {
    display: none;
}

.splash-content {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.splash-content h2 {
    font-size: 24px;
    margin: 0;
}

.splash-content p {
    font-size: 18px;
}

#splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    display: none; /* Скрыто по умолчанию */
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

#array-elements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.item {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.item:hover::after {
    content: attr(data-length);
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    color: red;
}
